/* Update the .Placeholder class */
.Placeholder {
    background-color: white;
    height: 60vh;
    margin-bottom: 10vh;
    overflow: hidden; 
    position: relative; 
}

/* Ensure the slideshow fits within the .Placeholder */
.swiper-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-slide {
    width: 100%;
    height: 100%; /* Ensure slides take full height */
    max-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover; /* Ensure images cover the slide area */
    display: block;
}